body {

}
h1{
  font-size: 4rem;
  text-align: left;

  padding-top: 200px;


}
hr {
  color: #9FC9F3;
  border-top: 5px solid;
  margin-top: 0;
  margin-bottom: 20px;

}



img {

  height: 250px;
  width: 250px;
  margin-top: 80px;
  margin-right: 20px;

}
.footer {
  text-align: center;
  margin-top: 50px;
  height: 200px;
  width: 100%;

}
table {
  border: 2px solid;
  margin-top:20px;
  width: 80%;

}
td {
  border: 2px solid;
}





.summary-container {

  text-align: center;
  justify-content: center;
  height: 1000px;


}
.features-container {
  padding-top: 200px;




}
.summary {
  background-color: #EFEFEF;
  height: 1320px;
  margin: 20px;
  border-radius: 80px;
  width: 100%;


}
.features-container {
  padding-top: 20px;

}
.summary2{

  height: 1250px;

  border-radius: 80px;
  width: 100%;
}
.summary2-content {
  padding-top: 85px;
  padding-left: 10px;
}
.summary-content {
  padding: 40px;
  text-align: left;


}
.contact-content {
  padding:40px;
  text-align: left;
}
.summary-text {
  width: 250px;
}
.summary-headings {
  color: #3AB4F2;
}
